--allow-all-external
-f http://cairographics.org/releases/
-f http://dist.plone.org/thirdparty/
--allow-unverified cherrypy
--allow-unverified genshi
--allow-unverified mongodb
pycurl
ipython
unidecode
#ofxparse
-r ./src/odoo/requirements.txt
-e ./src/odoo
